
/* configurações da pagina toda */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* configurações do cabeçalho*/

header {
  width: 100vw;
  height: 5.1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;

 background-color: #d2e4c7;
background-image: linear-gradient(180deg, #d2e4c7 5%, #ffffff 50%);
}

/* configurações da navbar do cabeçalho */

header .navegacao nav ul {
  display: flex;
  gap: 1rem;
}

header .navegacao nav ul li {
  list-style: none;
}

header .navegacao nav ul li a {
  color: white;

  text-decoration: none;
}

/* confiurações da logo do cantinho */


header .logo img{
  width: 93px;
}

/* Texto ao lado da imagem*/

.logo {
 display: flex;
 align-items: center;
 font-size: 25px;
 /* colocar aqui a fonte importada */
 /* Atualizando o padding da tag <p> */
 p{
  padding: 5px;
 }
}




/* Divisorias B1, B2, B3. */

.B1{
  background-color: #F2EAE7;
  filter: opacity(50px);
  display: flex;
  text-align: center; 
  font-size: 35px;
 
 img{
  width: 696px;
 height: 395px;
object-fit: cover;
  }
}

.B2{
background-color: #F3F8F0; 
display: flex;
text-align: center;
}

.B3{
background-color: #F2EAE7;
fill-opacity: 20%;
}

.B4{
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.7624299719887955) 0%, rgba(169,128,111,0.7736344537815126) 79%, rgba(240,240,240,0.7652310924369747) 100%);
}

.B4 h1{
  text-align: left;
 top:px;
}

.B4 h3{
  text-align: right;
}

.btm{
  background-color: black;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}


footer{
  text-align: center;
}