body {
  font-family: 'Wix Madefor Text', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  max-height: 60px; /* Ajuste a altura da logo se necessário */
}

.navegacao ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navegacao li {
  margin-left: 20px;
}

.navegacao a {
  text-decoration: none;
  color: rgb(194, 84, 84);
}
/* Alterar pra colocar as medidas nos dois carroçol */
.carousel-inner img {
  object-fit: cover;
}

.B1, .B2 {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.B1 img, .B2 img {
  max-width: 150px; /* Ajuste o tamanho das imagens ao lado do texto */
  margin-right: 20px;
}

.caixas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(240, 240, 240); /* Fundo opcional */
}

.B4 {
  text-align: right; /* Alinha os textos a direita */
}

h3 {

.btm {
  margin: 5px 0; /* Espaçamento entre os botões */
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: rgb(194, 84, 84);
  color: white;
}

footer h5 {
  margin: 0;
}