/* Reset básico de margin e padding para todos os elementos */
* {
  box-sizing: border-box; /* Garante que o padding e border não aumentem a largura total dos elementos */
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove paddings padrão */
}

/* Estilo para o corpo da página */
body {
  font-family: "Arial", sans-serif; /* Define a fonte padrão */
  background-color: #f7f7f7; /* Cor de fundo clara */
  color: #333; /* Cor do texto */
}

/* Inicio de estilização da navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: #88001f 4px 3px 5px;
}

.logo img {
  max-height: 60px; /* Ajuste a altura da logo se necessário */
}

.navegacao ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navegacao li {
  margin-left: 20px;
}

.navegacao a {
  text-decoration: none;
  color: rgb(194, 84, 84);
}

/* Estilo para o contêiner do formulário */
.container {
  max-width: 800px; /* Largura máxima do contêiner */
  margin: 50px auto; /* Centraliza o contêiner na tela */
  padding: 20px; /* Espaço interno */
  background: #fff; /* Cor de fundo branca para o formulário */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidade */
}

/* Estilo para o título do formulário */
h1 {
  text-align: center; /* Centraliza o texto */
  margin-bottom: 20px; /* Espaço abaixo do título */
  color: #6e151f; /* Cor do título */
  font-size: 24px; /* Aumenta o tamanho da fonte do título */
}

/* Estilo para o formulário */
form {
  display: flex;
  flex-direction: column; /* Alinha os grupos de inputs verticalmente */
}

/* Estilo para grupos de inputs */
.grupo-inputs {
  display: flex; /* Cria uma linha para os inputs */
  justify-content: space-between; /* Espalha os inputs pelo espaço disponível */
  margin-bottom: 15px; /* Espaçamento entre os grupos de inputs */
}

.input {
  width: calc(50% - 10px); /* Cada input ocupa metade do espaço, com margem */
}

/* Estilo para os rótulos dos campos do formulário */
label {
  font-weight: bold; /* Deixa o texto mais destacado */
  color: #6e151f; /* Cor dos rótulos */
  margin: 5px 0; /* Espaçamento para os rótulos */
  width: 100%; /* Os rótulos ocupam a largura total */
}

/* Estilo para campos de entrada, seleção e textarea */
input[type="text"],
input[type="number"],
input[type="datetime-local"],
select,
textarea {
  width: 100%; /* Largura total do campo */
  padding: 10px; /* Espaço interno do campo */
  border: 1px solid #ccc; /* Borda padrão */
  border-radius: 4px; /* Bordas arredondadas */
  transition: border-color 0.3s; /* Transição suave na mudança de cor da borda */
}

/* Estilo para campos em foco */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="datetime-local"]:focus,
select:focus,
textarea:focus {
  border-color: #6e151f; /* Muda a cor da borda quando o campo está ativo */
}

/* Estilo para o botão de envio */
button {
  padding: 10px; /* Espaço interno do botão */
  background-color: #6e151f; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remove a borda padrão */
  border-radius: 4px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor ao passar sobre o botão */
  transition: background-color 0.3s; /* Transição suave para mudança de cor */
  margin-top: 20px; /* Espaçamento acima do botão */
}

/* Estilo para o botão ao passar o mouse */
button:hover {
  background-color: #88001f; /* Cor do botão ao passar o mouse */
}

/* Estilo para a área de texto */
textarea {
  resize: none;
  padding: 10px; /* Espaço interno da área de texto */
  width: 100%;
}
