@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,631;1,631&display=swap"); /* Importação da fonte Madefor*/

body {
  background-color: rgb(194, 84, 84);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}



/* configurações do cabeçalho*/

/* header {
  width: 100vw;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: blue
 
} */

/* configurações da navbar do cabeçalho */

/* header .navegacao nav ul {
  display: flex;
  gap: 1rem;
}

header .navegacao nav ul li {
  list-style: none;
}

header .navegacao nav ul li a {
  color: rgb(60, 77, 62);
  text-decoration: none;
} */

/* confiurações da logo do cantinho */

/* header .logo img {
  width: 32%;
  margin: 10px 10px 10px 10px;
} */

/* Texto ao lado da imagem*/

/* .logo {
  display: flex;
  align-items: center;
  font-size: 25px; */
  /* colocar aqui a fonte importada */
  /* Atualizando o padding da tag <p> */
/* } */
/* 
.logo p {
  padding: 5px;
} */


.b1{
 background-color: rgb(247, 247, 247);
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
 margin: 10px;
 border: 5px solid rgba(226, 180, 180, 0.816);
 padding:5px ;
}

.b2{
 background-color: white;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
 border: 5px solid  rgba(226, 180, 180, 0.816);
}

.b3{
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  border: 5px solid  rgba(226, 180, 180, 0.816);;
 }