/* configurações da pagina toda */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  
  /* configurações do cabeçalho*/
  
  header {
    width: 100vw;
    height: 5.1rem;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 1rem;
  
   background-color:black
  }
  
  /* configurações da navbar do cabeçalho */
  
  header .navegacao nav ul {
    display: flex;
    gap: 1rem;
  }
  
  header .navegacao nav ul li {
    list-style: none;
  }
  
  header .navegacao nav ul li a {
    color: white;
  
    text-decoration: none;
  }
  
  /* confiurações da logo do cantinho */
  
  
  header .logo img{
    width: 93px;
  }
  
  /* Texto ao lado da imagem*/
  
  .logo {
   display: flex;
   align-items: center;
   font-size: 25px;
   /* colocar aqui a fonte importada */
   /* Atualizando o padding da tag <p> */
   p{
    padding: 5px;
   }
}