/* Estilo do plano de fundo */
body {
    background-color: rgb(194, 84, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

.formulario {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 20px 15px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(236, 149, 149, 0.827);
    width: 400px; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 95%;
    padding: 10px;
    background-color: rgb(150, 36, 36);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: rgba(170, 39, 39, 0.926);
}

/* Estilo para o label */
label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    width: 90%; /* Ajustado para alinhar com os inputs */
}

/* Estilo para o link de cadastro */
.link-cadastro {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.link-cadastro a {
    color: rgb(150, 36, 36);
    text-decoration: none;
    font-weight: bold;
}

.link-cadastro a:hover {
    text-decoration: underline;
}
